/* ===== Variáveis de Cores ===== */
:root {
    --white: #FFF;
    --gray: #CCC;
    --black: #050404;
    --black-white: #2E1C2B;
    --dark-blue: #110342;
    --blue: #0863ad;
}

@media (max-width: 1080px) {
    body {
        font-size: .5rem;
    }
    html {
        display: flex;
        justify-content: center;
    }

    /* Adaptação de Textos e Quebra de Container's */
    .title {
        margin: 5rem;
    }
    #habilidades {
        margin-bottom: 3rem;
    }
    .social-media {
        flex-direction: column;
    }
    .social-media a{
        margin: 5px;
    }
    .box-card {
        flex-direction: column;
    }
    .box-card .card-text p {
        font-size: 14px;
    }
    .box-project {
        flex-direction: column;
    }
    .habilidades .banner {
        padding-right: 0;
        width: 20rem;
    }
    .habilidades p {
        text-align: start;
        padding: 0 2rem 2rem 2rem;
        font-size: 14px;
    }
    .footer {
        margin-top: 5rem;
    }
    }

    /* Alinhamento do Interior Menu Mobile */
    @media (max-width: 600px) {
        #toogle:checked ~ .menu {
            box-shadow: 0px 0px 0px 110vw var(--white);
        }
    }
    @media (max-width: 540px) {
        #toogle:checked ~ .menu {
            box-shadow: 0px 0px 0px 150vw var(--white);
        }
        .box-project .card {
            width: 15rem;
        }
        .box-project .card .projectImage1 {
            width: 15rem;
        }
        .box-project .card .projectImage2 {
            width: 15rem;
        }
        .box-project .card .projectImage3 {
            width: 15rem;
        }
        .box-project .card span {
            width: 15rem;
            font-size: 4em;
        }
    }